.main-header {
  position: relative;
  display: block;
  background-color: white;
}

.top-header {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;

  .navbar-nav {
    flex-direction: row;

    .nav-item {
      margin-right: 10px;
    }
  }
}