<footer class="main-footer">
    <div class="bottom-footer">
        <div class="content-container container-fluid">
            <div class="row">
                <div class="col-8">
                    <span class="copyright">
                        © {{ getParameter('param.site.name') }}. Serveur Minecraft PvP / Faction / Launcher / Moddé / MMORPG.
                    </span>
                </div>
                <div class="col-4" style="text-align: right;">
                    social
                </div>
            </div>
        </div>
    </div>
</footer>
