<footer class="main-footer">
    <div class="bottom-footer">
        <div class="content-container container-fluid">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <span class="copyright">
                        © {{ param_site_name }}. Serveur Minecraft PvP / Faction / Launcher / Moddé / MMORPG.
                    </span>
                </div>
                <div class="col-lg-4 col-12 footer-right">
                    social
                </div>
            </div>
        </div>
    </div>
</footer>
