@import "assets/styles/colors";
@import "assets/styles/variables";

.carousel {
  background: $grayBlack;
}

/* fade in image when loaded */
.carousel-cell-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

//HOME PAGE
.carousel-home.is-fullscreen {
  .home-carousel-cell {
    height: 100%;
    display: flex;
    align-items: center;
    max-height: initial;
  }
}

.home-carousel-cell {
  /* full width */
  width: 100%;
  /* height of carousel */
  max-height: 600px;
  margin: 0;

  img {
    filter: blur(.3px);
    display: block;
    max-width: 101%;
    height: auto;
  }
}

.carousel-home {
  .carousel-caption {
    background-color: rgba($grayBlack, .6);
    border-radius: 8px;
    box-shadow: $mui_boxshadow_e2;
  }
}
