@import "assets/styles/colors";

.carousel {
  background: $grayBlack;
}

/* fade in image when loaded */
.carousel-cell-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

//HOME PAGE
.home-carousel-cell {
  /* full width */
  width: 100%;
  /* height of carousel */
  height: 600px;
  margin: 0;

  img {
    filter: blur(.3px);
    display: block;
    max-width: 101%;
    height: auto;
  }
}
