@import "~bootstrap/scss/mixins";

$main_logo_width: 300px;

.main-menu-logo {
  position: relative;
  vertical-align: middle;
  text-align: center;

  .main-logo {
    position: absolute;
    width: $main_logo_width;
    height: auto;
    left: -$main_logo_width / 2;
    top: -$main_logo_width / 3.8;
  }
}

.main-logo {
  max-width: $main_logo_width;
  max-height: $main_logo_width;
}

@include media-breakpoint-down(lg) {
  $main_logo_width: 200px;

  .main-logo {
    width: $main_logo_width;
    top: -$main_logo_width / 4.5;
  }

  .main-logo {
    max-width: $main_logo_width;
    max-height: $main_logo_width;
  }
}

.main-logo:hover {
  $scale: 1.1;
  $degree: 1deg;
  $duration: .2s;

  -webkit-transform: rotate($degree) scale($scale);
  transform: rotate($degree) scale($scale);
  -webkit-transition: $duration ease-in-out;
  transition: $duration ease-in-out;
}
