@import "~bootstrap/scss/mixins";
@import "assets/styles/colors";

.main-menu {
  padding: 0;
  background-color: $grayLayout;
  border-bottom: 1px solid $grayBorder;

  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
    .nav-item .dropdown-menu {
      display: none;
    }
    .nav-item:hover .dropdown-menu {
      display: block;
    }
    .nav-item .dropdown-menu {
      margin-top: 0;
    }
  }
  /* ============ desktop view .end// ============ */

  @media all and (min-width: 991px) {
    .dropdown:after {
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity .13s ease-in-out;
      opacity: 0;
      visibility: hidden;
      //background-color: rgba(0, 0, 0, .3);
      pointer-events: none;
    }

    .dropdown:hover .nav-link {
      position: relative;
      z-index: 12;
    }

    .dropdown:hover:after {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      position: fixed;
    }

    .dropdown-menu {
      min-width: 100%;
    }

  }

  .nav-link.active {
    box-shadow: 0 -2px 0 0 $primary;
    color: $primary !important;
  }

  .nav-link:hover {
    box-shadow: 0 -2px 0 0 $primary;
  }

  .nav-link {
    font-family: Signika-Bold, sans-serif !important;
    color: $grayBlack !important;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }

  .navbar-brand {
    color: $grayBlack !important;
    margin-left: 15px;
    font-size: .9em;
    font-weight: bold;
  }

  .main-toggler:not([aria-expanded=true]) {
    .navbar-toggler-icon {
      background-image: url("../../../../assets/img/menu.svg");
      max-height: initial;
    }
  }

  .main-toggler {
    .navbar-toggler-icon {
      background-image: url("../../../../assets/img/cancel.svg");
      max-height: 20px;
    }
  }

  .main-toggler.navbar-toggler {
    border-color: $grayLight;
    border-radius: 5px;
  }

}

.main-menu-lg {
  .nav-link {
    padding: 1.8rem;
    margin: 0 1rem;
  }
}

@include media-breakpoint-down(md) {
  .main-menu-lg {
    .nav-link {
      padding: 8px 0 8px 0;
      margin: 0 1rem;
    }
  }

  .main-menu {
    .navbar-collapse {
      border-top: 1px solid $grayBorder;
    }

    .nav-link {
      font-size: 16px;
    }

    .nav-link.active {
      box-shadow: none;
    }

    .nav-link:hover {
      box-shadow: none;
      color: $third !important;
    }
  }
}
