@import "~bootstrap/scss/mixins";
@import "../../colors";

.main-footer {
  background-color: $grayBlack;
  color: $third;
  $marges: 1.2em;
  padding: $marges 0 $marges 0;
  font-size: 1em;

  .footer-right {
    text-align: right;
  }
}

@include media-breakpoint-down(md) {
  .main-footer {
    $marges: 1.1em;
    padding: $marges 0 $marges 0;
    font-size: .8em;
  }

  .footer-right {
    margin-top: 5px;
    text-align: center !important;
  }
}
