@import "~bootstrap/scss/mixins";
@import "../../colors";

.main-header {
  position: relative;
  display: block;
  background-color: white;
}

.top-header {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;

  .navbar-nav {
    flex-direction: row;

    .nav-item {
      font-size: .9em;
      margin-right: 2rem;

      a {
        color: $third;
      }
    }
  }
}

.top-container {
  $marges: 15px;
  padding-left: $marges;
  padding-right: $marges;
}

@include media-breakpoint-only(xs) {
  .main-header {
    .header-left {
      display: none !important;
    }

    .header-right {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      justify-content: center !important;
      justify-items: center !important;

      .nav-link {
        font-size: .85em;
      }
    }
  }

  .top-container {
    $marges: 0px;
    padding-left: $marges;
    padding-right: $marges;
  }

  .top-header {
    .navbar-nav {
      .nav-item {
        margin-right: 15px;
      }
    }
  }
}
