{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('slider') }}
{% endblock %}

{% block body %}
    <div class="carousel">
        <div class="home-carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg"  alt="test"/>
        </div>
        <div class="home-carousel-cell">
            <img class="carousel-cell-image"
                 data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg"  alt="test"/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}
