@font-face {
  font-family: Signika-Bold;
  src: url('assets/fonts/signika/Signika-Bold.ttf');
}

@font-face {
  font-family: Signika-Light;
  src: url('assets/fonts/signika/Signika-Light.ttf');
}

@font-face {
  font-family: Signika-Medium;
  src: url('assets/fonts/signika/Signika-Medium.ttf');
}

@font-face {
  font-family: Signika-Regular;
  src: url('assets/fonts/signika/Signika-Regular.ttf');
}

@font-face {
  font-family: Signika-SemiBold;
  src: url('assets/fonts/signika/Signika-SemiBold.ttf');
}
