<header class="main-header">
    <div class="top-header">
        <div class="top-container container-fluid">
            <div class="row">
                <div class="header-left col-6 col-xs-6 d-flex justify-content-start">
                    {% include "_components/header/left.html.twig" %}
                </div>
                <div class="header-right col-6 col-xs-6 d-flex justify-content-end">
                    {% include "_components/header/right.html.twig" %}
                </div>
            </div>
        </div>
    </div>

    {% include "_components/menu/main_menu.html.twig" %}

</header>
