{% macro renderThumbnail(image = null, alt = null, title = null) %}
    <img src="{{ image is not null ? image : asset(path_upload_params ~ '/' ~ param_unknown_background) }}"
         class="card-img-top liip_thumbnail"
         alt="{{ alt is not null ? alt : param_site_name }}"
         title="{{ title is not null ? title : param_site_name }}"/>
{% endmacro %}

{% macro renderTitle(title) %}
    <div class="slide-caption position-absolute w-100 fixed-bottom p-2 border-raduis-0">
        <h5 class="text-center text-white m-0">{{ title }}</h5>
    </div>
{% endmacro %}
